.resetBase {
    display: flex;
    background-color: #ccd0d5;
    padding: 150px;
}

.ResetView {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    margin: auto;
    width: 500px;
    background-color: #fff;
}

.ResetYourPassword {
    border-bottom: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerTag {
    font-family: Helvetica, Arial, sans-serif;
    /* font-size: 12px; */
}

.how_do_you_want {
    font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 20px;
}

input {
    border-radius: 6px;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: auto;
    padding: 10px 0 10px 10px;
    width: 444px;
    border: 1px solid #ccd0d5;
    background-color: #fff;
    color: #1c1e21;
}

.resetPasswordInputdiv {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.NewPasswordResetInput {
    margin-bottom: 10px;
}

button {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    line-height: 32px;
    margin-left: 8px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    margin-bottom: 10px;
}